<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">

    <servlet>
        <servlet-name>ActiveCodeController</servlet-name>
        <servlet-class>com.assignment.controller.ActiveCodeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActiveCodeController</servlet-name>
        <url-pattern>/user/active</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LanguageController</servlet-name>
        <servlet-class>com.assignment.controller.LanguageController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LanguageController</servlet-name>
        <url-pattern>/change-language</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.assignment.controller.RegisterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/user/register</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.assignment.controller.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/user/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>com.assignment.controller.UserDetailController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/user/detail</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>ObjectifyRegisterFilter</filter-name>
        <filter-class>com.assignment.filter.ObjectifyRegisterFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ObjectifyRegisterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CorsFilter</filter-name>
        <filter-class>com.assignment.filter.CorsFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CorsFilter</filter-name>
        <url-pattern>*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>LanguageFilter</filter-name>
        <filter-class>com.assignment.filter.LanguageFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LanguageFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

</web-app>